@import "../../../asset/style/variables";

.home-about {
    background: $main-color;

    &__title {
        margin-bottom: 28px;
    }
}

.home-about-first-block {
    padding: 67px 50px 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__item {
        width: calc(50% - 50px);
    }
}

.home-about-second-block {
    padding: 54px 50px 120px;
    background: rgba(183, 69, 0, 0.6);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    &__item {
        width: calc(50% - 90px);
    }
}

@media screen and (max-width: 992px) {     
    .home-about-first-block {
        padding: 50px 20px 40px;
        
        &__item {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    
    .home-about-second-block {
        padding: 60px 20px;
       
        &__item {
            width: 100%;
            margin-bottom: 25px;
        }
    }
}