@import "../../../asset/style/variables";

.home-token {
    padding: 40px 0 0 40px;
    background: rgba(255, 255, 255, 0.05);

    &__title {
        margin-bottom: 48px;
    }
}

.home-token-advantages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &__item {
        width: calc(100% / 3);

        font-size: 30px;
        line-height: 1.5;
        color: #fff;
        padding-right: 35px;

        margin-bottom: 10px;
    }
}

.home-token-distribution {
    &__title {

    }
}

.home-token-distribution-grid {
    width: 80%;
    margin-left: auto;
    margin-top: -30px;
    color: #fff;

    &__line {
        display: flex;
        flex-wrap: wrap;

        &_space-between {
            justify-content: space-between;
        }

        &_center {
            justify-content: center;
        }

        &_end {
            justify-content: flex-end;
        }
        
    }

    &__item {
        min-height: 150px;
        background: #1C2940;
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;

        &_empty {
            background: none;
        }

        &_price {
            border-top-left-radius: 40px;
        }

        &_total {
            border-radius: 0 40px;
        }

        &_main-color {
            background-color: $main-color;
        }

    }

    &__name {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 5px;
    }

    &__price {
        font-size: 22px;
        line-height: 1.3;
        font-weight: bold;
    }

    &__info {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) { 
    .home-token {
        padding: 70px 20px 80px;

        &__title {
            max-width: 50%;
        }
    }
    
    .home-token-advantages {
        margin-bottom: 60px;
        justify-content: space-between;
    
        &__item {
            width: calc(100% / 2 - 20px);
            font-size: 20px;    
            margin-bottom: 25px;
        }
    }
    
    .home-token-distribution {
        &__title {
            max-width: 50%;
            margin-bottom: 30px;
        }
    }
    
    .home-token-distribution-grid {
        width: 100%;
        margin-top: 0px;
    
        &__item {
            min-height: 90px;
            width: calc(100% / 2);
            padding: 20px;

            &_total {
                border-radius: 40px 0;
            }
        }
    
        &__name {
            font-size: 12px;
        }
    
        &__price {
            font-size: 12px;
        }
    
        &__info {
            margin-top: 5px;
            font-weight: 400;
            font-size: 9px;
        }
    }
}