@import "variables";

.btn {

  $p: &;

  background: $main-color;
  border: 2px solid $main-color;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  min-width: 225px;
  display: inline-block;
  text-align: center;
  transition: .3s;

  &:focus {
    outline: none;
  }

  &:hover {
    background: none;
  }
}

@media screen and (max-width: 992px) {
  .btn {
    font-size: 13px;
    padding: 20px;
    min-width: 204px;
  }
}