@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/futuraPT/FuturaPTLight.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/futuraPT/FuturaPTLight.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/futuraPT/FuturaPTMedium.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/futuraPT/FuturaPTDemi.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/futuraPT/FuturaPTBold.otf') format('opentype');
}

@font-face {
  font-family: 'CreteRound';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CreteRound/CreteRound-Regular.ttf') format('opentype');
}