@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: 'FuturaPT', sans-serif;
  background: #000206;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding-right: 35px;
  padding-left: 35px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  color: #fff;

  &_main-color {
    color: $main-color;
  }
}

.text {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;

  &_mb {
    margin-bottom: 25px;
  }
}

.strong {
  font-weight: 500;
}

.display-only-mob {
  display: none;
}

.marker {
  position: relative;
  padding-left: 45px;

  &:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    border: 2px solid $main-color;
    border-radius: 5px;
    transform: rotate(45deg);
    width: 14.5px;
    height: 14.5px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 22.5px;
    left: 20px;
    width: 8px;
    height: 2px;
    background: $main-color;
  }


  &_sm {
    &:after {
      border-radius: 50%;
      top: 2px;
      transform: rotate(0deg);
      background: rgba(6, 214, 157, 0.1);
    }
  
    &:before {
      top: 10px;
      left: 18px;
    }
  }
}

.lines-bg {
  background-image: url('../img/home/lines.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 992px) {

  .title {
    font-size: 30px;
  }
  
  .text {
    font-size: 16px;
  }

  .lines-bg {
    background-image: url('../img/home/lines_mob.svg');
    background-size: contain;
  }

  .display-only-desktop {
    display: none;
  }

  .display-only-mob {
    display: block;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;

    &__mob-full-width {
      width: 100%;
      padding: 0;
    }
  }
}
