@import "../../../asset/style/variables";

.home-security {
    background: $main-color;
    padding: 50px 75px 150px;

    &__title {
        margin-bottom: 25px;
    }
}

.home-security-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: calc(50% - 30px);
    }

    &__text-mb {
        margin-bottom: 80px;
    }

    &__img {
        margin-top: 80px;
    }
}

@media screen and (max-width: 992px) { 
    .home-security {
        background: $main-color;
        padding: 50px 20px 120px;
    
        &__title {
            margin-bottom: 30px;
        }
    }
    
    .home-security-wrap {
    
        &__item {
            width: 100%;
        }
    
        &__text-mb {
            margin-bottom: 80px;
        }

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 230px;
        }
    }
}
