@import "../../asset/style/variables";

.timer {
  color: #fff;
  font-family: 'CreteRound', sans-serif;

  &__line {
    display: flex;
    &_days {
      justify-content: flex-end;
    }

    &_hours {
      justify-content: center;
    }

    &_minutes {
      justify-content: space-between;
    }
  }
  &__item {
    width: calc(100%/3);
    height: 139px;
    background: #101928;
    display: flex;
    align-items: center;
    justify-content: center;


    &_days {
      border-top-right-radius: 40px;
    }

    &_hours {
      border-top-left-radius: 40px;
      background: $main-color;
    }

    &_minutes {
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    &_seconds {
      border-bottom-right-radius: 40px;
    }
  }

  &__days-star {
    position: absolute;
    left: 5%;
    top:70%;
  }

  &__hours-stars {
    position: absolute;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
  }

  

  &__info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
  }

  &__number {
    font-size: 90px;
    margin-bottom: 5px;
  }

  &__name {
   font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .timer {
    &__item {
      height: 105px;
    }
  
    &__days-star {
      max-width: 13px;
    }
  
    &__hours-stars {
      max-width: 26px;
    }
  
    &__info {
      min-width: 80px;
    }
  
    &__number {
      font-size: 50px;
      margin-bottom: 5px;
    }
  
    &__name {
     font-size: 10px;
    }
  }
}