@import "../../../asset/style/variables";

.home-team {
    padding: 80px 0 120px;

    &__title {
        margin-bottom: 44px;
    }
}

.home-team-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: calc(100%/5 - 10px);
        text-align: center;
        color: #FFFFFF;
    }

    &__avatart {
        display: inline-block;
        margin-bottom: 7px;
        filter: grayscale(100%);
    }

    &__fio {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__position {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) { 
    .home-team {
        padding: 30px 0 40px;

        &__title.title {
            text-align: center;
            font-size: 40px;
        }
    }
    
    .home-team-user {
    
        &__item {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}