@import "../../asset/style/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: center;
    padding-top: 10px;

    &__social-icons{
      position: absolute;
      left: 0;
      top: 44%;
    }

    &__logo {
      width: 48px;
      display: inline-block;
    }
  }
}