@import "../../asset/style/variables";

.footer-wrap {
  background: $main-color;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 14px 0;

    &__logo {
      max-width: 27px;
    }
  }
}