.social-icons {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 16px;
      height: 16px;
    }

  }
}

@media screen and (max-width: 992px) {
  .social-icons {
    &__item {
      margin-right: 17px;
    }

    img {
      max-height: 15px;
    }
  }
}