@import "../../../asset/style/variables";

.home-what {
    padding: 100px 0 82px;
}

.home-what-first-block {
    margin-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__content {
        width: calc(53% - 15px);
    }

    &__img-wrap {
        width: calc(47% - 15px);
    }

    &__title {
        margin-bottom: 68px;
    }

    &__img {
        display: inline-block;
        margin-top: -30px;
        min-height: 100%;
        width: auto;
    }
}

.home-what-second-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__vision {
        width: calc(47% - 35px);
    }

    &__technologies {
        width: calc(53% - 35px);
    }

    &__title {
        margin-bottom: 30px;
    }

    &__indent {
        padding-left: 45px;
    }
}

@media screen and (max-width: 992px) {  
    .home-what {
        padding: 70px 0;
    }
    
    .home-what-first-block {
        margin-bottom: 40px;
    
        &__content {
            width: 100%;
            margin-bottom: 30px;
        }
    
        &__img-wrap {
            width: 100%;
        }
    
        &__title {
            margin-bottom: 43px;
        }
    
        &__img {
            margin-top: 0px;
        }
    }
    
    .home-what-second-block {
    
        &__vision {
            width: 100%;
            margin-bottom: 50px;
        }
    
        &__technologies {
            width: 100%;
        }
    
        &__title {
            margin-bottom: 20px;
        }
    
        &__indent {
            padding-left: 0px;
        }
    }
}