@import "../../../asset/style/variables";

.home-roadmap {
    padding: 88px 0;
    &__title {
        margin-bottom: 65px;
    }
}

.home-roadmap-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(100% / 4);
        margin-bottom: 50px;
        color: #FFFFFF;
        padding-right: 10px;
    }

    &__date {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 15px;
        letter-spacing: 0.05em;
    }

    &__description {
        padding-left: 45px;
        line-height: 1.7;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 5px;
        letter-spacing: 0.05em;
    }
}

@media screen and (max-width: 992px) {  
    .home-roadmap {
        padding: 40px 0;
        &__title {
            margin-bottom: 60px;
            text-align: center;
        }
    }
    
    .home-roadmap-list {    
        &__item {
            width: 100%;
            margin-bottom: 35px;
            padding-right: 25px;
        }
    }
}