@import "../../../asset/style/variables";

.home-hero {
    padding: 80px 0 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__content {
        width: calc(50% - 20px);
        color: #fff;
    }

    &__title {
        font-weight: 500;
        font-size: 45px;
        line-height: 1.2;
        margin-bottom: 40px;
    }

    &__description {
        font-size: 15px;
        line-height: 2;
        margin-bottom: 60px;
        max-width: 80%;
    }

    &__timer {
        width: calc(50% - 20px);
        margin-top: -15px;
    }
}

@media screen and (max-width: 992px) {
    .home-hero {
        padding: 25px 0 60px;
        justify-content: center;
    
        &__content {
            width: 100%;
            margin-bottom: 10px;
        }
    
        &__title {
            font-size: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
    
        &__description {
            font-size: 12px;
            margin-bottom: 0;
            max-width: 100%;
            text-align: center;
        }
    
        &__timer {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 50px;
        }
    }
}